<h4></h4>
<d2fngx-toggle-panel title="export (pour sauvegarde) de qcm existant"
[(panelOpenState)]="exportOpenState"
(panelOpenStateChange)="onExclusiveOpenState(exportOpenState)">
    <form role="form" #formFiltrage="ngForm"
        method="POST"  id="formFiltrage" class="p-1 grid grid-cols-1">

      <d2fngx-choice-field fieldLayout='row' [(fieldData)]="mode" (fieldDataChange)="reinit()" name="mode"  [items]="['training','eval']" ></d2fngx-choice-field>
  
       <d2fngx-label-input-field fieldLayout='row' [(fieldData)]="filtre" name="filtre" label="filtre (facultatif)" ></d2fngx-label-input-field>
         <div>
          <button  (click)="onListeQcmAvecFiltrage()"> a. actualiser la liste</button> &nbsp;&nbsp; <span>{{msgFiltrage}}</span>
        </div>
    </form>
        <hr/>
         <p class="font-bold">b. sélectionner un qcm à exporter(click):</p>
        <ul>
            @for(q of listeQcm() ; track q){
            <li>
                <span (click)="onExportQcm(q)" [class.selected]="q==selectedQcm"> {{q.title}}  </span> 
            </li>  
            }   
        </ul>
        <hr/>
        c. copier/coller le contenu (ci-dessous) du qcm exporté au sein d'un nouveau fichier .json
        <hr/>
        <div id="qcmExportArea">{{exportedQcm$ | async | json}}</div>
</d2fngx-toggle-panel>

<d2fngx-toggle-panel title="import (réintégration) de qcm sauvegardé"
[(panelOpenState)]="importOpenState"
(panelOpenStateChange)="onExclusiveOpenState(importOpenState)">
<button (click)="onImportQcm()">importer/réintégrer le contenu ci dessous (Qcm JSON)</button>
<div>{{importMessage()}}</div>
<textarea id="qcmImportArea" [(ngModel)]="importedJsonQcm"></textarea>
</d2fngx-toggle-panel>