@use "d2f-common-layout.scss";
@use "d2f-common-form.scss";
.selected { color: blue; font-weight: bold;}


label.f-align {
    width: 8em;
    display: inline-block;
    margin-left: 0.3em;
    flex: 0 0 8em;
  }
  
  .f-align {
    margin-left: 0.3em;
    flex: 1 1 auto;
  }
  
  .f-max-size {
    width: 97%;
  }

  #qcmImportArea{  
    min-width:500px; max-width:100%; min-height:250px;  width:100%;
}