/* old @import "/assets/css/d2f-common-layout.css"; temporary used as global style  */
@use "d2f-common-layout.scss"; /* should be provided by using app in stylePreprocessorOptions/includePaths of angular.json */
/*NB: @import "xyz" will import ./xyz.scss if exists at first priority 
if ./xyz.scss doesnt exist , xyz.scss will be search in all paths 
of "stylePreprocessorOptions": {
              "includePaths": [
                "node-modules/d2f-ngx-commons/assets/scss"
                "other_path_of_lower_priority/assets/scss" 
              ]
            }
of angular.json file of app using this library .
if several paths , first found is used , others are ignored .
*/

.quick-menu {  background-color: whitesmoke;
              padding: 1px ;
              width: 100%;}
.my-button { 
    margin: 1px;
    border: 1px solid darkblue;
}

.boutonRondCarre {
    border-radius: 12px 0 12px 0;
    font: bold 10px Verdana;
    background: darkblue;
    color : white;
    /*
    
    border: none;
    color: #555;
    padding: 6px 0 6px 0;
    border: 1px solid #ccc;
    */
  }