<my-toggle-panel [title]="titleWithSize" [(panelOpenState)]="tablePanelOpenState">  
  <div class="mat-card-content  p-1">
  <div class="table-wrapper">
  <div class="tableContainerWithFixHead">
    <table>
        <thead>
         <tr>
          @for(key of  essentialKeysArrayRef();track key){
            <th [ngStyle]="setFieldHeaderStyles(key)" (click)="onAdjustSort(key)">{{key}}</th>
          }
          </tr>
      </thead>
      <tbody>
        @for(d of tabObjectsRef() ; track d; let i=$index){
          <tr (click)="onSelectObject(d)"
          [class.selected]="d==selectedObjectRef()">
          @for(val of objectEssentialValuesArray(d); track val){
            <td>{{val}}</td>
          }
          </tr>
      }
      </tbody>
     </table> <!-- end of table --> 
    </div> <!-- end of .tableContainerWithFixHead -->
  </div> <!-- end of .table-wrapper -->
    <my-message [message]="messageRef()"></my-message>
    </div> <!-- end of .mat-card-content -->
</my-toggle-panel>
