<!-- <bsu-toggle-panel [title]="'Mentions légales'" > -->
<div class="card">
        <h4 class="card-header my-bg-primary appuye text-white">Mentions légales</h4>
         <div class="card-body fondParDefaut">		
        <p><b>Siren: </b> 481 675 643  (RCS Evreux)</p>
        <p><b>Raison sociale:</b> EURL "Didier DEFRANCE Consultant"</p>
        <p><b>Adresse du siège social:</b> 24 rue Louise Damasse 27200 Vernon</p>
        <p><b>Montant du capital social: </b>1500 euros</p>
        <p><b>Téléphone: </b> 06 99 24 41 06</p>
        <p><b>Email: </b> <a href="mailto:didier@d-defrance.fr">didier@d-defrance.fr</a></p>         
        <p><b>Code APE: 721.Z </b>(Conseil en systèmes informatiques)</p>
      <br>	  
      <p><b>Données collectées</b></p>		  
      Les informations collectées par l’intermédiaire de ce site (uniquement au travers de la partie "contact" pour l'instant) ne feront l’objet d’aucune utilisation commerciale.
      Elles ne seront jamais communiquées à des tiers.
      Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée, vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent. Si vous souhaitez exercer ce droit et obtenir communication des informations vous concernant, veuillez nous contacter en utilisant le formulaire de la page contact.
      <p></p>
      <p><b>Cookies</b></p>
      L'ensemble de ce site web (développé avec "angular" et une api rest "node/express/mongo") fonctionne sans cookies (la sécurité de la partie "admin" est gérée via des tokens "jwt").
      Seule la partie "disponibilités", déléguée à "https://calendar.google.com" est associée à certains cookies (gérés automatiquement par "google").
      <p></p>
      <p><b>Hébergement du site</b></p>
      site hébergé par <b>gandi.net</b>
      <pre>
      (GANDI SAS, Société par Actions Simplifiée au capital de 2 300 000 € 
      ayant son siège social au 63-65 boulevard Masséna Paris (75013) FRANCE
      Siren de gandi: 423 093 459 RCS PARIS)
      </pre>
     

<!-- </bsu-toggle-panel> -->
</div>
</div>
