<div class="my-header">
    <div class="flexColumnNoWrap">
      <div class="flexItem degradeDeBleu">
        <div class="flexRowNoWrap ">
            <span class="flexItem left-text-align withLeftPadding"
                (click)="onTogglerMenuClick()">
                <mat-icon class="customIconSize">view_headline</mat-icon>
              </span> 
            <span id="my-header-title" class="flexItem center-text-align highlight title">{{title()}}</span>  
            <mylayout-quick-toolbar (statusHelp)="onStatusHelp()" class="withRightPadding"></mylayout-quick-toolbar> 
        </div>
      </div>
      <div class="flexItem center-text-align ">
        <div class="flexRowNoWrap">
          @if(showStatusBar){
              <mylayout-status-bar  class="flexItem" ></mylayout-status-bar>
          }
          <mylayout-quick-menu class="flexItem noDisplayForSmallWidth withRightMargin"
          [quickMenuDefs]="quickMenuDefs()" ></mylayout-quick-menu>
        </div>
     </div>
    </div>
</div>
