<div class="flexAllInColumnDir little-margin">
    <header id="mainStickyHeader" class="stickyHeaderFirstInFlexCol" >
         <mylayout-sticky-header [title]="title()" 
         [quickMenuDefs]="quickMenuDefs()"
         (togglerMenu)="onTogglerMenu()"></mylayout-sticky-header> <!-- always visible -->
    </header>
    <div class="remainingContentInFlexCol">
      <mat-sidenav-container class="central-container-zone">
        <!-- mode = side , push (auto-close when click on main content) or
                          over (idem as push but over / no slide )-->
        <mat-sidenav #matSideNav [mode]="sideNavMode" [opened]="openedSideNav()"
            (mouseenter)="onMenuMouseEnterInMainSideNav()" class="sideNav-zone">
            <mylayout-main-side-nav id="main-side-nav" [menuDefs]="mainMenuDefs()"
                  (afterNav)="onAfterNav($event)"></mylayout-main-side-nav> <!-- with main/complete menu -->
        </mat-sidenav>
        <mat-sidenav-content class="main-zone">
             <mylayout-main-content></mylayout-main-content> <!-- with router-outlet -->
      </mat-sidenav-content>
      </mat-sidenav-container>
      <!-- old place of legal-footer , no sticky -->
      <!-- <mylayout-legal-footer [legalFooterInnerHtml]="legalFooterInnerHtml()" ></mylayout-legal-footer> --> 
    </div>
    <footer class="stickyFooterLastInFlexCol">
         <mylayout-sticky-footer
         [legalFooterMainText]="legalFooterMainText()"
         [legalFooterTemplateRef]="legalFooterTemplateRef()" 
         [quickMenuDefs]="quickMenuDefs()" ></mylayout-sticky-footer> <!-- mobile only , contains quick-menu for mobile -->
    </footer>
  </div>
