@if(filterDefsSumUp!=""){
  <div class="smallText">
  current filter(s)={{filterDefsSumUp}}
</div>
}

@if(filterDefs().length>0){
  <button (click)="onDialogFiltersSettings()">filter settings...</button> &nbsp;
}
<!-- <button (click)="onReload()">reload</button> --> <!-- auto reload if "ok" -->

<ng-template #filtersDialogTemplate >
 <div class="left-align">
<!-- {{resultContext.tempFilterDefs | json}} -->
   @for(fd of resultContext.tempFilterDefs;track fd){
    <input type="checkbox" [(ngModel)]="fd.toApply"/>[{{fd.side}}] {{fd.text}} 
     @if(fd.nbArg>=1){ <input [(ngModel)]="fd.args[0]"/> } <br/>
   }
</div>
</ng-template>