<d2fngx-toggle-panel title="1. mode & options"
[(panelOpenState)]="modeOpenState"
(panelOpenStateChange)="onExclusiveOpenState(modeOpenState)">
     <form  #formOptions="ngForm"  id="formOptions" class="p-1 grid grid-cols-1">
                     

                     <d2fngx-choice-field [(fieldData)]="mode" (fieldDataChange)="reinit()" name="mode"  [items]="['training','eval']" ></d2fngx-choice-field>

                    @if(mode=='eval'){
               
                       <d2fngx-label-input-field [(fieldData)]="qcmService.qcmSession.performer.org" name="organisation"label="organisation (école, centre-formation, ...)"></d2fngx-label-input-field>

                         <!--   <input type="text" class="form-control" placeholder='éventuel code confidentiel'
                            name="code" [(ngModel)]="qcmService.qcmSession.performer.code" /> -->

                       <d2fngx-label-input-field [(fieldData)]="qcmService.qcmSession.performer.fullName" name="fullName" label="nom/speudo" ></d2fngx-label-input-field>
             
                      <!--  <d2fngx-label-input-field [(fieldData)]="qcmService.qcmSession.performer.email" name="email" label="email (résultats)" ></d2fngx-label-input-field>
                    -->
                    <!-- placeholder='(pas enregistré), juste pour obtenir résultats' -->
                    } 
                      
          </form>
</d2fngx-toggle-panel>

<d2fngx-toggle-panel title="2. sélection et action" id="selQcmAndActionPanel"
[(panelOpenState)]="selectionOpenState"
(panelOpenStateChange)="onExclusiveOpenState(selectionOpenState)">
   <form  #formFiltrage="ngForm"  id="formFiltrage" class="p-1 grid grid-cols-1 gap-3">
       
     <d2fngx-label-input-field [(fieldData)]="filtre" name="filtre" label="filtre (facultatif)" ></d2fngx-label-input-field>
     <div class="">
          <button id="actualiserListeButton" (click)="onListeQcmAvecFiltrage()"> a. actualiser la liste</button> &nbsp;&nbsp; <span>{{msgFiltrage()}}</span>
     </div>
    </form>

     <hr/>
     <p class="font-bold">&nbsp; b. sélectionner un qcm (click):</p>
     <ul id="ulQcmlist">
          @for(q of listeQcm(); track q){
          <li>
               <span (click)="onSelectQcm(q)" [class.selected]="q==selectedQcm"> {{q.title}}  </span> 
          </li>   
     }  
     </ul>
     <hr/>
     <button (click)="onEffectuerQcm()"   [disabled]="!isReadyForPerform()" > c. effectuer qcm </button> 
     {{selectedQcm?.title}}
</d2fngx-toggle-panel>



