<d2fngx-generic-crud  [genericCrudContext]="genericCrudContext"
               [optionalSpecificSubFormTemplateRef]="qcmSpecificSubform">
</d2fngx-generic-crud>

<!--
NB: subFormData as interface AbstractGenSubFormData
with .mode ("newOne" or "existingOne") and .obj = object of form
-->
<ng-template #qcmSpecificSubform let-subFormData="subFormData" >
    <div>
        <!-- deviseSpecificSubform with mode = {{subFormData?.mode}} -->

       <d2fngx-read-only-field fieldLayout='row' [(fieldData)]="subFormData.obj.id" name="id"  ></d2fngx-read-only-field>
       <d2fngx-label-input-field fieldLayout='row' [(fieldData)]="subFormData.obj.title" name="title" ></d2fngx-label-input-field>
       <d2fngx-choice-field fieldLayout='row' [(fieldData)]="subFormData.obj.purpose" name="purpose" [items]="['training','eval']"></d2fngx-choice-field>
       <d2fngx-label-input-field fieldLayout='row' [(fieldData)]="subFormData.obj.keywords" name="keywords" ></d2fngx-label-input-field>

        <div class="flexRowWrap" >
            <qcm-qcm-editor [qcm]="subFormData.obj"></qcm-qcm-editor>
        </div>
        
    </div>
  </ng-template>
