<generic-crud [genericCrudContext]='genericCrudContext'>

        <form role="form" #formQcm="ngForm" 
               id="formQcm" class="form-horizontal">
          
           <!-- always auto_incr here: -->
             <bsu-my-fg-label [label]="'_id'">
               <i>{{genericCrudContext.selectedObject?.id}}</i> (<b>{{genericCrudContext.mode}}</b>)
            </bsu-my-fg-label>  
   
            <bsu-my-fg-label label="title">
                <input type="text" class="form-control" required
                       name="title" [(ngModel)]="genericCrudContext.selectedObject!.title" />
            </bsu-my-fg-label>

            <bsu-my-fg-label label="purpose">
              <input type="radio"  value="training" name="mode" [(ngModel)]="genericCrudContext.selectedObject!.purpose" /> training &nbsp;&nbsp;
              <input type="radio"  value="eval"  name="mode" [(ngModel)]="genericCrudContext.selectedObject!.purpose"  /> eval
         </bsu-my-fg-label> 
   
            <bsu-my-fg-label label="keywords">
             <input type="text" class="form-control" 
                    name="keywords" [(ngModel)]="genericCrudContext.selectedObject!.keywords" />
             </bsu-my-fg-label>

             <hr/>
             <div class="form-group row">
                <div class="col-sm-12">
                  <qcm-qcm-editor [qcm]="genericCrudContext.selectedObject"></qcm-qcm-editor>
                </div>  
             </div>
            
            <div class="form-group row">
              <div class="offset-sm-3 col-sm-9">
              <input  type="submit" class="btn my-bg-primary text-white" 
                      [disabled]="!formQcm.form.valid" [value]="genericCrudContext.mode!='newOne'?'Modifier':'Ajouter'" 
                      (click)="onSubmit()" /> &nbsp;&nbsp; <span>{{genericCrudContext.msgSaveOrUpdate}}</span>
              </div>
            </div>
            
          </form>
       
