.my-card-header { background-color: rgb(6, 6, 121); color: white; text-align: center;}
.my-card-content { color :black; padding: 0.5em; }
.my-card-border { border: rgb(4, 4, 111) solid 1px; margin: 0.5em;}
